@import '~antd/dist/antd.css';

.ant-page-header{
  background-color:#d8efdb;

}
.ant-page-header-heading{
  display:flex;
  justify-content:left;
  color:white;
  font-weight:bold;
  font-size:16px;
}
.searchBar{
  margin-top:4px;
  width:calc(100vw - 550px);

}
.ant-input-search-button{
  background-color: #b8eef3;
  border-color: #3ac93f;
}
.ant-input-search-button:hover{
  background-color: #0d5412;
  border-color:#23832b;
  cursor: pointer;
}
.login{
  padding: 3px 30px;
  font-weight: bold;
  background-color: #0b4220;
  border-color:#0b4220;;
 border:solid 2px #0b4220;
 color:white;
}
.login:hover{
  background-color: #000000;
  border: solid 2px white;
  color:white;

}
.login:focus{
  background-color: #FF9900;
  border:solid 2px white;
  color:white;
}